html,
body,
* {
    padding: 5px;
    margin: 15px 30px;
    box-sizing: border-box;
    font-size: 62.5%;
}
.header {
    font-size: 50px;
    text-align: center;
    border: 3px solid rgb(133, 95, 21);
    border-radius: 25px;
    background-color: rgb(202, 216, 99);
}
.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.new-england {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    width: 40%;
    text-align: center;
    font-size: 40px;
}
.ne-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.middle {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    width: 40%;
    text-align: center;
    font-size: 40px;
}
.southern {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    width: 40%;
    text-align: center;
    font-size: 40px;
}
