html,
body,
* {
    padding: 5px;
    margin: 25px;
    box-sizing: border-box;
    font-size: 62.5%;
}
.header {
    font-size: 50px;
    text-align: center;
    border: 3px solid rgb(133, 95, 21);
    border-radius: 25px;
    background-color: rgb(202, 216, 99);
}
.cards {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.new-england {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    height: 200px;
    width: 50%;
    text-align: center;
}
.middle {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    height: 200px;
    width: 50%;
    text-align: center;
}
.southern {
    border: 3px solid rgb(121, 150, 239);
    border-radius: 25px;
    height: 200px;
    width: 50%;
    text-align: center;
}
