html,
body{
    padding: 0;
    margin: 10px 20px;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
    background-color: rgb(169, 198, 220);
    font-family: 'Kanit', sans-serif;
}
.main-header {
    font-size: 3rem;
    background-color: rgb(169, 198, 220);
    border: 5px solid rgb(35, 68, 141);
    box-shadow: 12px 8px 2px 5px rgb(96, 134, 190);
    border-radius: 35px;
    margin: 30px
}
.all-cards {
    padding: 15px;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.pastas {
    border-radius: 35px;
    width: 28%;
    background-color: rgb(169, 198, 220);
    font-size: 2rem;
    text-align: cbaseline;
    margin: 30px;
    border: 5px solid rgb(35, 68, 141);
    box-shadow: 12px 8px 2px 5px rgb(96, 134, 190);
}
.headings {
    font-size: 3rem;
}
.images {
    max-width: auto;
    max-height: 25rem;
}